/* main article */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DynaPuff", cursive;
}
body {
  background: rgb(0, 9, 50);
  color: white;
  align-items: center;
}
*::selection {
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  text-align: center;
  padding: 10px 40px;
  font-size: 50px;
  text-shadow: 5px 5px rgb(3, 24, 116);
  background: linear-gradient(to bottom, rgb(1, 11, 54), rgb(3, 24, 116));
}
h1:hover {
  color: rgb(201, 201, 201);
}
/* menu */
#menu {
  display: flex; /* flex */
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
#choose {
  display: flex;
  justify-content: center;
  align-items: center;
}
.type {
  padding: 30px;
  font-size: 50px;
}
#x:hover {
  color: red;
  cursor: pointer;
}
#o:hover {
  color: blue;
  cursor: pointer;
}
#play {
  margin: 20px 20px;
  padding: 20px 40px;
  font-size: 30px;
  background: rgb(101, 100, 100);
  transition: transform 0.2s ease-in-out;
  border: 3px solid rgb(40, 40, 42);
}
h3 {
  padding: 10px;
}
/* game */
#container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#dialog {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}
#wynik1 {
  margin-bottom: 20px;
  display: flex;
  column-gap: 5px;
}
#game {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
  row-gap: 5px;
  background: rgb(19, 48, 176);
}
.field {
  width: 100px;
  height: 100px;
  background: rgb(0, 9, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.field:hover {
  background: rgb(1, 15, 75);
  cursor: pointer;
}
#current {
  margin: 10px;
}
/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  width: 100vw;
  font-size: 12px;
  background: linear-gradient(to top, rgb(1, 11, 54), rgb(3, 24, 116));
}
footer a:hover {
  text-decoration: underline;
}
@media (max-width: 700px) {
  .field {
    width: 15vw;
    height: 15vw;
  }
}
